# Strings, Numbers, Bools, Lists, Tuples, Dictionaries

In Python & data related topics, you will mostly be working with these types of variables.

If you can learn how each one of these types works, how you can manipulate it, and it's different advantages, you'll be able to master Python.

# 1. Strings

Python strings are one of the most powerful variable types.

A string is defined as any variables that is defined with `"` around it or `'`

Let's look at some of the things we can do with them.

In [1]:
# Define a string variable
x = "Argentina won the world cup."

# and we can print that string with print()
print(x)

Argentina won the world cup.

In [2]:
# We can do multiline strings with three quotes
x = '''
On the 18th of December 2022,
Argentina won the World cup.
'''
print(x)

On the 18th of December 2022,
Argentina won the World cup.

#### The cool thing about strings is they are arrays, so we can manipulate them in a lot of ways

In [8]:
# we can access individual parts of a string with square brackets
x = "Argentina won the world cup"
print(x[8])
print(x[0:9]) # more on this when we talk about lists

t
the 18th of Dece

In [9]:
# We can get the length of a string with the len() function
len(x)

60

In [10]:
# We can loop over a string with a for loop
for x in "Messi":
    print(x)

M
e
s
s
i

In [11]:
# We can check if a word or combination of words/letters
# are in a string, which returns a boolean
x = "Messi scored a goal"
print('Messi' in x)

True

In [12]:
# We can also check if words aren't in a string
print('Ronaldo' not in x)

True

In [18]:
# We can also combine (concatenate) two strings to make a single string
x = 'Hello, '
y = 'my name is Juan'

z = x + y

print(z)

Hello, my name is Juan

#### Strings also have some very important methods we can use with them.
1. `split` -> will split a string into a list
2. `replace` -> will replace occurances of text in a string
3. `strip` -> removes whitespace from ends of strings
4. `lower` -> turns the string to lower case
5. `upper` -> turns the string to upper case

Here's a couple examples:

In [13]:
txt = "Hello my name is John"

# Lets split the string
print(txt.split())

['Hello', 'my', 'name', 'is', 'John']

In [14]:
txt = "Hello my name is John"

# Lets replace the word John with Dave
print(txt.replace('John', 'Dave'))

Hello my name is Dave

#### A last important function of strings is the ability to format them and insert variables into them

Let's say we have a string x

`x = "My name is Mike"`

If we wanted to switch names, we would have to recreate the string. That's fine on one off situations, but if we have a large list of names, then inserting those would be taxing and it wouldn't be dynamic.

We can use the `format()` method to insert variables into a string.

In [19]:
name = 'Mike'
x = "My name is {}".format(name) # to denote where you want the variable to go, you put it in {}
print(x)

My name is Mike

In [20]:
# we can also use f-strings to put it directly in the string. 
# This is done by putting the letter f before the quotes
name = "Mike"
x = f"My name is {name}"
print(x)

My name is Mike

----------

# 2. Numbers

Numbers can be either `integers`, `floats`, or `complex` types

An integer is a whole number

A float is a decimal

And a complex is a combination of numbers and and an imaginary number

In [25]:
x = 100 # int
y = 100.15 # float
z = 100j # complex

# Let's check the types of each of these
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
# We can convert types back and forth with casting
x = 10
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

10
<class 'int'>
10.0
<class 'float'>

------

# 3. Booleans

A boolean is a way of knowing if something is `True` or `False`

You can compare any expression of values and it will tell you if that condition is `True` or `False`

We can cast and evaluate a bool using the `bool()` function

In [28]:
print(100 > 75)
print(100 == 100)
print(100 < 75)

True
True
False

In [30]:
# Most values are going to be true if you evaluate them as a bool

print(bool("Messi"))
print(bool(10000000))
print(bool(["joe"]))

True
True
True
False

In [ ]:
# All numbers are True except for the number 0

print(bool(0))

In [32]:
# All empty strings, lists, dictionaries, and tuples will return 0 as well
print(bool(""))
print(bool([]))

False
False

----

# 4. Lists

A list is used for storing a bunch of values into a single variable

I like to think of it as a grocery list where you store the items you need

A list uses indexes, so the first item has index `[0]` second `[1]`, etc.

A list has a couple of traits about it
1. Ordered
2. Changeable
3. Allows duplicates

In [35]:
x = ["apple", "banana", "watermelon", "orange"]
print(x)

['apple', 'banana', 'watermelon', 'orange']

In [36]:
# we can check the length of a list
print(len(x))

4

In [37]:
# In a list, we can merge data types together
x = ['Messi', 10, 'Ronaldo', 7]

#### To access a list item we can use indexing

We use the index number to access the item in the list

Python starts at `0` so the first item's index will be 0, second is 1, etc.

In [39]:
x = [0, 1, 2, 3, 4, 5, 6, 7]

# we use square brackets with the number inside to access them
print(x[0]) # This is technically the first
print(x[6]) # This is technically the 7th
print(x[-1]) # We can go backwards as well

0
6
7

In [40]:
# if we want to access multiple itms we can use slicing
x = [0, 1, 2, 3, 4, 5, 6, 7]

print(x[2:5])

# Pay attention because only the left index is included
# The right one is not

[2, 3, 4]

In [41]:
# We can also use slicing to say from the very beginning
# or until the very end
x = [0, 1, 2, 3, 4, 5, 6, 7]

print(x[:5]) # all numbers up to
print(x[2:]) # all numbers after

[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6, 7]

In [42]:
# You can check if an item exists in a list as well
x = [0, 1, 2, 3, 4, 5, 6, 7]

print(5 in x)

True

In [43]:
# We can add, change, and remove list items as well


# Changing an item
x = [0, 1, 2, 3, 4, 5, 6, 7]
print(x)

x[5] = 10
print(x)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 10, 6, 7]

In [44]:
# Adding an item
x = [0, 1, 2, 3, 4, 5, 6, 7]

x.insert(2, "pineapple") # this inserts it into index 2

print(x)

[0, 1, 'pineapple', 2, 3, 4, 5, 6, 7]

In [46]:
# Remove an item
x = [0, 1, 'banana', 3, 4, 5, 'banana', 7]
print(x)
x.remove('banana') # removes only the first item
print(x)

[0, 1, 'banana', 3, 4, 5, 'banana', 7]
[0, 1, 3, 4, 5, 'banana', 7]

In [48]:
# Remove a specific index
x = [0, 1, 2, 3, 4, 5, 6, 7]

x.pop(5)

print(x)

[0, 1, 2, 3, 4, 6, 7]

In [49]:
# remove just the last item
x = [0, 1, 2, 3, 4, 5, 6, 7]

x.pop()

print(x)

[0, 1, 2, 3, 4, 5, 6]

#### We can also loop over a list and use it in a variable

We'll get into loops later, but lists are very powerful for iterating and looping

In [50]:
for x in [0, 1, 2, 3, 4, 5, 6, 7]:
    print(x)

0
1
2
3
4
5
6
7

In [51]:
grocery_list = ["apple", "banana", "pear", "orange"]

for fruit in grocery_list:
    print(f'This is a {fruit}')

This is a apple
This is a banana
This is a pear
This is a orange

In [53]:
# we can also use list comprehensions which is just shorter syntax

[print(f'This is a {fruit}') for fruit in grocery_list]

This is a apple
This is a banana
This is a pear
This is a orange

[None, None, None, None]

-----

# 5. Tuples

A tuple is essentially the same as a list, but the key difference is we cannot change anything about the tuple

We create a tuple with `()` instead of square brackets

Most of the list functions won't work on a tuple so you'll need to convert it to a list and then back to a tuple

In [54]:
x = (1, 2, 3, 4, 5, 6)
print(x)

(1, 2, 3, 4, 5, 6)

In [55]:
# To create a tuple with one item
x = ("apple",)

print(x)

('apple',)

-----

# 6. Dictionaries

A dictionary is a list of objects but it is denoted by key:value pairs

To create a dictionary we use the `{}` brackets

Dictionaries are:
1. Ordered
2. Changeable
3. No duplciates allowed

In [56]:
x = {
    "key1": "value1",
    "key2": "value2"
}
print(x)

{'key1': 'value1', 'key2': 'value2'}

In [57]:
# To access a value in a dictionary you call its key
print(x["key1"])

value1

In [58]:
# To change a value you set the key equal to the new value
print(x['key1'])
x['key1'] = "Messi"
print(x['key1'])

value1
Messi

In [59]:
# To add an item you set the new key equal to the new value
print(x)
x['world_cup'] = 2026

print(x)

{'key1': 'Messi', 'key2': 'value2'}
{'key1': 'Messi', 'key2': 'value2', 'world_cup': 2026}

In [60]:
# if you want to remove an item use the del keyword
print(x)
del x['key1']

print(x)

{'key1': 'Messi', 'key2': 'value2', 'world_cup': 2026}
{'key2': 'value2', 'world_cup': 2026}

In [61]:
# You can also use del to delete the entire dictionary variable
print(x)
del x

{'key2': 'value2', 'world_cup': 2026}

In [62]:
print(x) # This throws an error because it no longer exists

NameError: name 'x' is not defined